{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "jellystat.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "jellystat.labels" . | nindent 4 }}
    {{- range $key, $value := .Values.extraLabels }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  annotations:
    {{- if .Values.cloudnativepg.enabled }}
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-10"
    {{- end }}
    {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end -}}
